<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.ishop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>mate.academy.ishop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>mate.academy.ishop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>items</servlet-name>
        <servlet-class>mate.academy.ishop.controller.ItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addItems</servlet-name>
        <servlet-class>mate.academy.ishop.controller.AddItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItems</servlet-name>
        <url-pattern>/items/additems/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>mate.academy.ishop.controller.InjectorInitializer</listener-class>
    </listener>
    
</web-app>