<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.ishop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>mate.academy.ishop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>mate.academy.ishop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>items</servlet-name>
        <servlet-class>mate.academy.ishop.controller.ItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addItems</servlet-name>
        <servlet-class>mate.academy.ishop.controller.AddItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItems</servlet-name>
        <url-pattern>/items/additems/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user_bucket</servlet-name>
        <servlet-class>mate.academy.ishop.controller.BucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_bucket</servlet-name>
        <url-pattern>/user/bucket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>mate.academy.ishop.controller.DeleteItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/user/delete/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bucketid</servlet-name>
        <servlet-class>mate.academy.ishop.controller.BucketByIdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bucketid</servlet-name>
        <url-pattern>/buckets</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>complete</servlet-name>
        <servlet-class>mate.academy.ishop.controller.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>complete</servlet-name>
        <url-pattern>/user/complete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showOrders</servlet-name>
        <servlet-class>mate.academy.ishop.controller.ShowOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showOrders</servlet-name>
        <url-pattern>/user/showOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteOrders</servlet-name>
        <servlet-class>mate.academy.ishop.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrders</servlet-name>
        <url-pattern>/user/deleteorder/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderid</servlet-name>
        <servlet-class>mate.academy.ishop.controller.OrderIdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderid</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>mate.academy.ishop.controller.InjectorInitializer</listener-class>
    </listener>
    
</web-app>